<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualife.aegis.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hualife.aegis.entity.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="system_type" property="systemType" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="system_id" property="systemId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, system_type, type, status, system_id, created_user, created_date,
        updated_user, updated_date
    </sql>
   <!-- <select id="selectRoleBySystemId" parameterType="java.lang.String" resultType="com.hualife.aegis.entity.Role">
        select <include refid="Base_Column_List"/> from role where system_id=#{systemId}
    </select>
    -->

</mapper>
