<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualife.aegis.mapper.RoleResourcesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hualife.aegis.entity.RoleResources">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="resources_id" property="resourcesId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, resources_id, created_user, created_date,
        updated_user, updated_date
    </sql>
    <insert id="saveResourcesByrole" parameterType="com.hualife.aegis.entity.RoleResources">
  insert into role_resources(role_id,resources_id) values(#{roleResources.roleId},#{roleResources.resourcesId})
</insert>

</mapper>
