<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualife.aegis.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hualife.aegis.entity.User">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="status" property="status" />
        <result column="organization_id" property="organizationId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name, name, password, status, organization_id, created_user, created_date,
        updated_user, updated_date
    </sql>
    <select id="findUrlListByUserId" resultType="java.lang.String">
        select r.url from resources r INNER join role_resources rr on r.id = rr.resources_id
        inner join user_role ur on rr.role_id = ur.role_id inner join user u on ur.user_id =
        u.id where u.id = #{id}
    </select>

</mapper>
